body{
    background-color: rgb(205, 239, 239);
  }
  h1{
      color: rgb(46, 199, 199);
  }
  h3{
      color: rgb(46, 199, 199);
  }
  hr{
   
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width:5px;;
    width: 5%;
  }
  img{
    border-radius: 50%;
  }